<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <h1 class="navbar-brand">Admin Page</h1>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item text-center">
                    <a class="nav-link active" aria-current="page" href="#">Order History</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    <div class="container mt-5">
        <p class="font-weight-bold h3">Restaurant Partners</p>
        <div class="row">
          {% for restaurant in restaurants %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-title">{{ restaurant.name }}</div>
              <div class="card-description">{{ restaurant.description }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="container mt-5">
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order[0] }}</td>
                    <td>{{ order[1] }}</td>
                    <td>{{ order[2] }}</td>
                    <td>{{ order[4] }}</td>
                    <td>{{ order[6] }}</td>
                    <td>{{ order[7] }}</td>
                    <td>{{ order[8] }}</td>
                    <td>{{ order[9] }}</td>
                    <td>{{ order[10] }}</td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <h3>Add New Restaurants</h3>
        <form  method="post">
            <div class="form-group">
                <label for="user_id">User ID:</label>
                <input type="text" class="form-control" id="user_id" name="user_id" required>
            </div>
            <div class="form-group">
                <label for="restaurant_id">Restaurant ID:</label>
                <input type="text" class="form-control" id="restaurant_id" name="restaurant_id" required>
            </div>
            <div class="form-group">
                <label for="quantity">ID:</label>
                <input type="text" class="form-control" id="quantity" name="quantity" required>
            </div>
            <div class="form-group">
                <label for="total">Name:</label>
                <input type="text" class="form-control" id="total" name="total" required>
            </div>
            <div class="form-group">
                <label for="address">Description:</label>
                <textarea class="form-control" id="address" name="address" required></textarea>
            </div>
            <div class="form-group">
                <label for="phone_no">Image:</label>
                <input type="text" class="form-control" id="phone_no" name="phone_no" required>

            <button type="submit" class="btn btn-primary">Add Restaurant</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
